
/*
    Use 
      Lora        for headings (wt: 400,500,700)
      Montserrat  for text
    font-family: 'Lora', serif;               
    font-family: 'Montserrat', sans-serif;
*/


h1,h2,h3,h4,h5,h6 {
    font-family: 'Lora', serif;
}

body {
  font-family: 'Montserrat', sans-serif;
}


.brand-text {
  font-weight: bold;
  font-size: 1.67em;
  font-family: 'Lora', serif;
}