{% extends "_layouts/_default.html" %}

{% block title %} home {% endblock %} 

{% block linktags %}
<meta name="description" content="hci cloud" /> 
{% endblock %}

{% block content %}
<div class="header">
    <nav class="top-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a href="/" class="pure-menu-heading pure-menu-link">hci</a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item">
                <a href="/" class="pure-menu-link">Home</a>
                <a href="/tea" class="pure-menu-link">Tea</a>
            </li>
        </ul>
    </nav>
</div><!-- end-header -->


<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">hci</h1>
        <p class="splash-subhead">
            🐢
        </p>
        <p>
            <!-- <a href="https://github.com/ongzhixian/plato-hci/wiki" class="pure-button pure-button-primary">Wiki page</a> -->
        </p>
    </div>
</div>

<div class="content-wrapper">

    <div class="content">
        <h2 class="content-head is-center">What is this?</h2>

        <div class="pure-g">

            <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <!-- <h3 class="content-subhead">
                    About
                </h3> -->
                <p>
                    This site is responsible for synchronizing data for hci-tea.
                    <!-- a module that aims to enhance functionality of PowerShell Core 7.0+ -->
                </p>
            </div>

            <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                
                <!-- <h3>More Information</h3>
                <p>
                    <a href="https://github.com/ongzhixian/plato-hci">Github site for hci</a>
                </p> -->

                <h3>Contact Us</h3>
                <p>
                    You can contact me by email: 
                    <a href="mailto:zhixian@hotmail.com">zhixian@hotmail.com</a>
                </p>

            </div>

            <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    &nbsp;
                </h3>
                <p>
                    &nbsp;
                    
                </p>
            </div>
            
            <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    &nbsp;
                </h3>
                <p>
                    &nbsp;
                </p>
            </div>

        </div>
    </div>


    <div class="footer text-center">
        A zx website.
    </div>

</div>

{% endblock %}


{% block scripts %}

<script type="text/javascript">
(function() {
    "use strict";
}());
</script>

{% endblock %}